package pages

import (
	"github.com/quinn/flash-cards/spec"
	"github.com/quinn/flash-cards/ui"
)

templ Index(pair spec.HiraganaRomajiPair, choices []string) {
	@ui.Layout() {
		<div class="h-screen flex flex-col justify-center items-center gap-3">
			<h1 class="text-2xl">Hiragana Flash Cards</h1>
			@ui.Card(pair, choices, "")
		</div>
	}
}
