package ui

// CardComponent is just the card itself for HTMX partial updates
templ Card(hiragana string, romaji string, showRomaji bool) {
	<div id="card-container" class="flex flex-col items-center justify-center">
		<div
			if showRomaji {
				hx-get={ "/card?hiragana=" + hiragana + "&romaji=" + romaji + "&showRomaji=true" }
			} else {
				hx-get={ "/card?hiragana=" + hiragana + "&romaji=" + romaji + "&showRomaji=false" }
			}
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#card-container"
			class="card w-48 h-48 flex flex-col items-center justify-center cursor-pointer text-center"
		>
			<div class="text-6xl select-none">{ hiragana }</div>
			if showRomaji {
				<div>{ romaji }</div>
			}
		</div>
		<p>
			Click the card to
			if showRomaji {
				see a new card
			} else {
				reveal romaji
			}
		</p>
	</div>
}
